[Unit]
Description=Enable SDDM autologin for first created user
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/firstboot-autologin.sh

[Install]
WantedBy=multi-user.target
